# IDEs and editors
.vs/
.vscode/
.idea/
*.user
*.pubxml
*.PublishSettings

# Compiled files
/**/.angular/cache
/**/package-lock.json
/*/bin/
/*/obj/
/*/wwwroot/

# Packages
/packages/
/*/packages/
/**/node_modules/
/**/node_modules_test/

# Other files
.DS_Store
Thumbs.db
*-test.cmd
*.Test.csproj
*.Test.sln